<style type="text/css">
#contenedor {
    display: table;
    border: 0px solid #000;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
#contenidos {
    display: table-row;
	width:200px;
}
#columna1, #columna2, #columna3 {
    display: table-cell;
    border: 0px solid #000;
    vertical-align: middle;
    padding: 5px;
	width:150px;
}
</style>
